<!DOCTYPE html>
	<html>
	<html  lang="en" dir="ltr">
	  <head>
	    <meta charset="utf-8">
	    <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Clowyer-Caso</title>
	    <link rel="stylesheet" href="/js-css/icons/foundation-icons.css">
	    <link rel="shortcut icon" href="/js-css/img/browser.ico"/>
    	<link rel="stylesheet" href="/js-css/css/foundation-flex.css">
    	<link href="https://fonts.googleapis.com/css?family=Gothic+A1" rel="stylesheet">
	    <link rel="stylesheet" href="/js-css/css/css-created/main.css">
	  </head>
	<body>
		
			<script src="js-css/js/vendor/jquery.js"></script>
		    <script src="js-css/js/vendor/what-input.js"></script>
		    <script src="js-css/js/vendor/foundation.js"></script>
		    <script src="js-css/js/main.js"></script>
	</body>
</html>